DB_HOST=localhost
DB_PORT=3306
DB_USER=root
# DB_PASSWORD=123456
DB_PASSWORD=root
DB_NAME=task_manager

JWT_SECRET=MY_SECRET_KEY_123456

EMAIL_ENABLED=true
EMAIL_HOST=smtp.qq.com
EMAIL_PORT=465
EMAIL_SECURE=true
EMAIL_USER=2627418408@qq.com
EMAIL_PASS=urixqcdrlmnoebjd
EMAIL_FROM=Task Manager <2627418408@qq.com>
